body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color:#333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.container {
  text-align: center;
}

.intro-reasons h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.intro-reasons p {
  line-height: 26px;
}

.reasons-row-cell {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-row-cell h2{
  font-size: 21px;
}

/*.reasons-row-double-cell {
  background-color:
}*/

.reasons-row-list {
  list-style: none;
}

.reason-row-item h2 {
  font-size: 21px;
  color:#000000;
}

.reasons-row:last-child {
  background-color: #eeeeee;
}

.search-title {       /*.search h2 {}*/
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-text {        /*.search p {}*/
  line-height: 24px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  line-height: 26px;
  font-weight: bold;
  /*text-align: left;*/
}

.search-form input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form input[placeholder] {
  color: #000000;
}

.btn-search-item {
  background-color: #f2f2f2;
  border: none;
}


.btn-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #669ec0;
}

.btn-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.footer-visitus a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
}

.footer-copyright span{
  line-height: 26px;
}


/*catalog.html*/

.site-navigation-current a{
  color: #766357;
}

.inner-page {
  text-align: left;
}
