body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color:#333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

/*.container {
  text-align: center;
}
*/
.intro-reasons h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.intro-reasons p {
  line-height: 26px;
}

.reasons-row-cell {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-row-cell h2{
  font-size: 21px;
}

.reasons-row-double-cell {
  background-color: #816d65;
}

.reasons-row-list {
  list-style: none;
}

.reason-row-item h2 {
  font-size: 21px;
  color:#000000;
}

.reasons-row:last-child {
  background-color: #eeeeee;
}

.search-title {       /*.search h2 {}*/
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-text {        /*.search p {}*/
  line-height: 24px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form {
  line-height: 26px;
  font-weight: bold;
  /*text-align: left;*/
}

.search-form input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form input::placeholder {
/*.search-item input::-webkit-input-placeholder,
.search-item input::-moz-placeholder,
.search-item input:-moz-placeholder,
.search-item input::-ms-input-placeholder,
.search-item input:-ms-input-placeholder {*/
  color: #000000;
  opacity: 1;
}

/*input::-webkit-input-placeholder
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;} */

.btn-search-item {
  background-color: #f2f2f2;
  border: none;
}


.btn-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #669ec0;
}

.btn-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  /*text-align: center;*/
}

.footer-visitus a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

/*.footer-social {
  text-align: center;
}
*/
.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
}

.footer-copyright span{
  line-height: 26px;
}


/*catalog.html*/

/*.container.inner-page {
  text-align: left;
}*/


.site-navigation-current a{
  color: #766357;
}

.filters-form {
  background-image: url("../img/filter-background.jpg");
  background-color: #688094;
  color: #ffffff;
}

.filters-form fieldset {
  border: none;
}

.filters-form legend {
  font-size: 16px;
  font-weight: bold;
}

.filters-form ul {
  list-style: none;
}

.btn-filter {
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  outline: none;
  border: 2px solid #ffffff;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #000000;
  background-color: #ffffff;
}

.result-sort h3 {
  font-size: 21px;
  line-height: 26px;
}

.result-sort ul{
  list-style: none;
}

.result-sort-menu {
  font-size: 12px;
  line-height: 18px;
}

.result-sort-menu a {
  /*text-decoration: none;*/
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.result-sort-item-current a {
  color: #81b3d2;
  border-bottom: none;
}

.result-sort-menu a:hover,
.result-sort-menu a:focus {
  color: #81b3d2;
}

.result-sort-menu a:active {
  color: #000000;
  border-bottom: none;
}

.result-hotel-info-title a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.result-hotel-info-title a:hover,
.result-hotel-info-title a:focus {
  color: #81b3d2;
}

.result-hotel-info-title a:active {
  color: rgb(0, 0, 0, 0.3);
}

a.result-hotel-button{
  color: #ffffff;
  font-weight: bold;
}

a.button-more {
  background-color: #81b3d2;
}

a.button-more:hover {
  background-color: #669ec0;
}

a.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.button-booking {
  background-color: #766357;
}

a.button-booking:hover,
a.button-booking:focus {
  background-color: #604e43;
}

a.button-booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.result-hotel-rating ul {
  list-style: none;
}

.result-hotel-rating-value span {
  color: #666666;
  background-color: #f2f2f2;
}


/*-------------Сеточные стили---------------*/


html {
  box-sizing: border-box;
}

*, *!::before, *!::after {
  box-sizing: inherit;
}




.page-wrapper {
  padding: 0;
  margin: 0 auto;

  background-color: #ffffff;
  width: 1200px;
}

.main-header {
  margin-bottom: 0;
}

.intro-image {
  margin-bottom: 65px;
}

.intro-reasons h2 {
  margin-bottom: 35px;
}

.intro-reasons p {
  margin-bottom: 56px;
}

.reasons-row {
  display: flex;
}

.reasons-row-cell {
  width: 400px;
}

.reasons-row-double-cell {
  width: 800px;
}

.reasons-row-list {
  padding: 0;
  margin: 0;

  list-style: none;

  display: flex;
}

.reasons-row-item {
  width: 400px;
}

.reasons-row:last-child {
  margin-bottom: 55px;
}


.search-title {
  margin-bottom: 35px;
}

.search-text {
  margin-bottom: 55px;
}

.main-footer {
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*catalog*/

.filters-form {
  display: flex;
  padding-left: 72px;
}

.checkbox-wrapper {
  display: flex;
  width: 600px;
  align-items: center;
}

.checkbox-wrapper fieldset {
  width: 240px;
}


.hotels-wrapper {
  display: flex;
  flex-direction: column;
}

.result-hotel {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #e5e5e5;
}

.result-hotel:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.result-hotel-photo {
  margin-right: 30px;
}

.result-hotel-rating {
  margin-left: auto;
}
